<! 3: Wywodim bazu po :ID >

<h1>Thanks You!</h1>
<h2>Article has been created!!!</h2>

 <h3><%= @article.title %></h3>

 <h3><%= @article.text %></h3>

<!/////////////////////////////////////////////////////////////////////////////////////////>
<h2>Add comments</h2>

<%= 'No comments!' if @article.comments.empty? %>

<% @article.comments.each do |comment| %>
<p>
<i><strong>Author: </strong><%= comment.author %></i></br>
<%= comment.body %>
</p>
<!hr>

<% end %>

<!/////////////////////////////////////////////////////////////////////////////////////////>
<h2>Comments</h2>
<p>                  <!Podkluchenie  "comments">
    <%= form_for ([@article, @article.comments.build]) do |f| %> 
  <p>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>

  <p><%= f.submit %></p>

 <% end %>
</p>

<%= link_to "Show all articles!", articles_path %> <!Prawelnaja ssylka>