<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <script src="/vendor/jquery-3.6.1.min.js"></script>
    
	<!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
 


                 <!Podkluchenie  "Exit">
     <!Нужно в config/initializers/devise.rb добавить
     config.navigational_formats = ['*/*', :html, :turbo_stream]>
                              <!Podkluchenie  "Exit">
   <% if user_signed_in? %>
     <p> Hello! <%= current_user.username %> |  <! Pri logowanii pokazywaet polzowatela  "email">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
   <% else %>
        <%= link_to "Sign In", new_user_session_path %>
   <% end %>


     <p class="notice"><%= notice %></p> <!Добавить в app/views/layouts/application.html.erb для флеш-сообщений:
     <p class="alert"><%= alert %></p>
    
    
    <%= yield %>
  </body>
</html>






     <!a href="/users/sign_in"><!Sign In<!/a>       <!Podkluchenie  "Exit">
     <!a href="/users/sign_out" data-turbo-method="DELETE"><!Sign Out<!/a>